.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* Proporción 16:9 (para videos) */
  overflow: hidden;
  margin: 20px; /* Ajusta los márgenes según tus preferencias */

  @media (max-width: 768px) {
    /* Estilos para dispositivos móviles o pantallas estrechas */
    padding-bottom: 75%; /* Proporción 4:3 (para contenido alternativo en dispositivos móviles) */
    height: auto;
  }
}
