/* src/styles/modules/dashboardEntry.module.css */

.dashboard-entry {
  margin: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center; /* Centrar verticalmente el contenido */
}

.cta-link {
  width: auto; /* Ancho automático para adaptarse al contenido */
  max-width: 400px; /* Ajusta el valor según tus necesidades */
  padding: 10px 15px; /* Reduce el padding para hacer el botón más estrecho */
  background-color: #4ab19d;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.cta-link:hover {
  background-color: #2e75b6;
}
