/* dashboard.module.css */

/* Estilos para el contenedor del dashboard */
.container {
  display: flex;
  justify-content: space-between;
  margin: 0; /* Agrega margen 0 para eliminar el espacio en blanco */
}

/* Estilos para la columna de navegación (izquierda) */
.navColumn {
  width: 20%;
  padding: 0; /* Reduce el padding para eliminar el espacio en blanco */
  background-color: #f1f1f1;
}

/* Estilos para el elemento de la lista (cada componente) */
.listItem {
  cursor: pointer;
  padding: 1rem; /* Aumenta el padding para un mayor espacio alrededor de cada elemento */
}

.listItem:hover {
  background-color: #d3d3d3;
}

/* Estilos para el área de contenido (derecha) */
.contentArea {
  width: 70%;
  padding: 0; /* Reduce el padding para eliminar el espacio en blanco */
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dashboard {
  display: flex;
}



.content {
  flex: 1;
  padding: 20px; /* Puedes ajustar el espacio según lo necesites */
}