/* src/styles/modules/dashboardEntry.module.css */

.dashboard-entry {
  margin: 20px 0;
}

.cta-link {
  padding: 10px 20px;
  background-color: #4ab19d; /* Color de fondo del botón */
  color: #ffffff; /* Color de texto del botón */
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease; /* Transición suave al pasar el cursor */
}

.cta-link:hover {
  background-color: #2e75b6; /* Cambiar color de fondo al pasar el cursor */
}
