/* Estilos para el contenedor del dashboard */
.container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}

/* Estilos para el contenedor de la tabla */
.tableContainer {
  margin-bottom: 20px;
}

/* Estilos para el área de búsqueda */
.searchContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.searchIcon {
  margin-right: 10px;
}

.searchInput {
  flex: 1;
  height: 36px;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.searchButton {
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Estilos para la lista (cada componente) */
ul {
  list-style: none;
  padding: 0;
}


li:hover {
  background-color: #f2f2f2;
}

/* Estilos para el mensaje cuando no hay tickets */
.noTickets {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.userSlashIcon {
  font-size: 36px;
  color: #ccc;
  margin-bottom: 10px;
}
