label {
  display: block; /* Cambiar la presentación a bloque para que ocupen toda la línea */
  margin-bottom: 6px; /* Agregar un margen inferior para separar las etiquetas de los campos */
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center; /* Centrar el contenido dentro del contenedor */
  border-radius: 5px;
  padding: 20px;
}

.fname {
  width: 80%; /* Ocupa el 80% del ancho del contenedor */
  padding: 10px; /* Ajusta el padding según tu preferencia */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  display: block;
  margin: 0 auto;
}
.lname {
  width: 80%; /* Ocupa el 80% del ancho del contenedor */
  padding: 10px; /* Ajusta el padding según tu preferencia */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  display: block;
  margin: 0 auto;
}

input[type="submit"] {
  display: block;
  margin: 0 auto; /* Centrar horizontalmente */
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
