.d-flex.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Estilos para el efecto hover en los enlaces */
.link:hover::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3px;
  height: 3px;
  background-color: #333;
}

/* Estilos para los botones de contacto */
.boton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.boton a {
  background-color: #2e75b6;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  display: inline-block;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.boton a:hover {
  background-color: #28669f;
}

.boton a:hover {
  color: #fff; /* Cambia el color del texto a blanco en el hover */
}
