.navbar {
  background-color: #fff;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 70px;
}

/* Estilos para la imagen del logo */
.logo {
  width: 170px;
  height: 125px;
  overflow: hidden;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.icon {
  color: linear-gradient(to right, #2e75b6, #4ab19d);
  font-size: 20px;
}

/* Estilos para los enlaces del navbar */
.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  flex: 1;
  justify-content: center;
}

/* Estilos para cada enlace del navbar */
.nav-link {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  position: relative;
}

/* Estilos para el efecto hover en los enlaces */
.nav-link:hover::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3px;
  height: 3px;
  background-color: #333;
}

/* Estilos para los botones de autenticaci칩n */
.auth-buttons {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.login-button,
  .signup-button {
    background-color: #2e75b6;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    margin: 5px 0;
  }
  
  .signup-button {
    background-color: #4ab19d;
  }
  
  .signup-button:hover,
  .login-button:hover {
    background-color: #28669f;
  }

.userIcon {
  margin-right: 8px;
}

/* Estilos para el bot칩n de cerrar sesi칩n */
.logout-button {
  background-color: #e74c3c;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.logout-button:hover {
  background-color: #c0392b;
}

/* Estilos para pantallas peque침as */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 10px;
  }

  .logo {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .nav-links {
    margin-top: 10px;
  }

  .nav-link {
    margin: 10px 0;
  }

  .auth-buttons {
    margin: 10px 0;
  }

  .login-button,
  .signup-button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    margin-left: 0;
  }
}
