.navbar {
  background-color: #fff;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 70px;
  margin-bottom: 50px;
}

/* Estilos para la imagen del logo */
.logo {
  width: 170px;
  height: 125px;
  overflow: hidden;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.icon {
  color: linear-gradient(to right, #2e75b6, #4ab19d);
  font-size: 20px;
}

/* Estilos para los enlaces del navbar */
.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  flex: 1;
  justify-content: center;
}

/* Estilos para cada enlace del navbar */
.nav-link {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  position: relative;
}

/* Estilos para el efecto hover en los enlaces */
.nav-link:hover::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3px;
  height: 3px;
  background-color: #333;
}

/* Estilos para los botones de autenticación */
.login-button,
.signup-button,
.cta-link {
  background-color: #2e75b6;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  margin: 10px 0;
  margin-left: 15px;
  transition: background-color 0.3s, color 0.3s; /* Agrega una transición para suavizar el cambio de colores */
}

.login-button:hover,
.signup-button:hover,
.cta-link:hover {
  background-color: #28669f;
  color: #fff; /* Cambia el color del texto a blanco en el hover */
  transition: background-color 0.3s, color 0.3s;
}

.userIcon {
  margin-right: 8px;
}
.checkIcon {
  margin-left: 8px;
}

/* Estilos para el botón de cerrar sesión */
.logout-button {
  background-color: #e74c3c;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.logout-button:hover {
  background-color: #c0392b;
}
.auth-container {
  display: flex;
  align-items: center; /* Alinea verticalmente */
}

.user-name {
  margin-right: 10px; /* Agrega un margen derecho para separar del botón */
}

/* Estilos para el botón de cerrar sesión */
.logout-button {
  background-color: #e74c3c;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.logout-button:hover {
  background-color: #c0392b;
}
