/* Estilos generales */
.container {
  padding: 20px;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

/* Estilos para la barra de búsqueda */
.searchContainer {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

.searchIcon {
  margin-right: 5px;
}

.searchInput {
  border: none;
  outline: none;
  flex: 1; /* Ocupar el espacio restante */
}

/* Estilos para la tabla de usuarios */
.userTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
}

th {
  background-color: #f0f0f0;
  font-weight: bold;
}

.userRow:hover {
  background-color: #f5f5f5;
}

/* Estilos para el indicador de orden */
.sortIndicator {
  display: inline-block;
  margin-left: 5px;
}

.sortIndicator svg {
  vertical-align: middle;
  margin-bottom: 2px;
}

.sortAsc svg {
  transform: rotate(180deg);
}

/* Estilos para el botón "Agregar Usuario" */
.addButton {
  background-color: #4ab19d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-top: 20px;
}

.addButton:hover {
  background-color: #2e75b6;
}

/* Estilos para el modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  width: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal h2 {
  margin-bottom: 20px;
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.formGroup input,
.formGroup select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.modalButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.modalButtons button {
  background-color: #4ab19d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.modalButtons button.cancelButton {
  background-color: #aaa;
}

.modalButtons button:hover {
  background-color: #2e75b6;
}

.cancelButton:hover {
  background-color: #888;
}

/* Media Queries para pantallas de tamaño pequeño (móviles) */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .searchContainer {
    flex-direction: column;
  }

  .searchInput {
    margin-top: 10px;
  }

  .userTable {
    font-size: 14px;
  }

  .addButton {
    font-size: 14px;
  }

  .modalContent {
    width: 100%;
    max-width: 350px;
  }
}

/* Nuevos estilos para los botones de acción */
.editButton {
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 10%;
}

.editButton:hover {
  background-color: #0056b3;
}

.deleteButton {
  margin-right: 5px;
  margin-left: 20px;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  background-color: #dc3545;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 10%;
}

.deleteButton:hover {
  background-color: #c82333;
}

.alert-container {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
}

/* TicketList.module.css */
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pagination {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination > li {
  display: inline;
  margin: 0;
  padding: 0;
}

.pagination > li > a,
.pagination > li > span {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  cursor: pointer;
  color: #333;
  font-size: 1.25rem; /* Aumenta el tamaño de la fuente para las flechas */
}

.pagination > li.active > a,
.pagination > li.active > span {
  background-color: #36d7b7;
  color: white;
  border-radius: 5px;
}
