.password-recovery-form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .password-recovery-form form {
    display: flex;
    flex-direction: column;
  }
  
  .password-recovery-form input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .password-recovery-form button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .password-recovery-form button:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: red;
    margin-top: 5px;
  }

  /* Estilos para el contenedor del componente PasswordConfirmation */
.password-confirmation-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 50px;
}

/* Estilos para el formulario */
.password-form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para los mensajes de éxito y error */
.success-message {
  color: #009900;
  font-size: 18px;
  margin-top: 10px;
}

.error-message {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
}

/* Estilos para el campo de contraseña y el botón */
.input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

/* Estilos para la alerta de error */
.alert-error {
  background-color: #ffcccc;
  color: #ff0000;
  border: 1px solid #ff0000;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  font-size: 14px;
}
  