
/* Estilos para la sección de características */
.features {
    padding: 40px 0;
    background-color: #f8f8f8;
    text-align: center;
  }
  
  /* Estilos para el título de la sección */
  .section-title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  /* Estilos para cada característica */
  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  
  /* Estilos para el icono */
  .icon {
    font-size: 36px;
    color: #007bff; /* Color del ícono, puedes cambiarlo según tus preferencias */
    margin-bottom: 10px;
  }
  
  /* Estilos para el título de la característica */
  .feature-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Estilos para la descripción de la característica */
  .feature-description {
    font-size: 16px;
  }
  