/* ticketlist.module.css */

/* Estilos para la tabla de tickets */
.ticketTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .ticketTable th,
  .ticketTable td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .ticketTable th {
    font-weight: bold;
  }
  
  /* Estilos para el botón "Agregar Ticket" */
  .addButton {
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  
  .addButton svg {
    margin-right: 5px;
  }
  
  /* Estilos para el modal */
  .modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .modal h2 {
    margin-bottom: 20px;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .formGroup label {
    margin-bottom: 5px;
  }
  
  .formGroup input,
  .formGroup select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .modalButtons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .modalButtons button {
    margin-left: 10px;
  }
  
  /* Estilos para el botón de búsqueda */
  .searchContainer {
    position: relative;
    margin-bottom: 20px;
  }
  
  .searchIcon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }
  
  .searchInput {
    padding: 8px 30px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .ticketIdLink {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
    color: blue; /* Puedes ajustar el color según tu diseño */
  }
  
  .deleteButton {
    margin-right: 5px;
    margin-left: 20px;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    background-color: #dc3545;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .deleteButton:hover {
    background-color: #c82333;
  }
  


.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pagination {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination > li {
  display: inline;
  margin: 0;
  padding: 0;
}

.pagination > li > a,
.pagination > li > span {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  cursor: pointer;
  color: #333;
}

.pagination > li.active > a,
.pagination > li.active > span {
  background-color: #36d7b7;
  color: white;
  border-radius: 5px;
}
