/* ticketlist.module.css */

/* Estilos para la tabla de tickets */
.ticketTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .ticketTable th,
  .ticketTable td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .ticketTable th {
    font-weight: bold;
  }
  
  /* Estilos para el botón "Agregar Ticket" */
  .addButton {
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  
  .addButton svg {
    margin-right: 5px;
  }
  
  /* Estilos para el modal */
  .modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .modal h2 {
    margin-bottom: 20px;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .formGroup label {
    margin-bottom: 5px;
  }
  
  .formGroup input,
  .formGroup select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .modalButtons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .modalButtons button {
    margin-left: 10px;
  }
  
  /* Estilos para el botón de búsqueda */
  .searchContainer {
    margin-bottom: 20px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  }
  
  .searchIcon {
    margin-right: 5px;
  }
  
  .searchInput {
    border: none;
    outline: none;
    flex: 1; /* Ocupar el espacio restante */
    margin-top: 10px;
  }
  
  /* DepartmentList.module.css */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: bold;
}

.input,
.select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.submitButton {
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 10%;
}

.closeButton {
  margin-right: 5px;
  margin-left: 20px;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  background-color: #dc3545;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 10%;
}

.modalButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.modalButtons button {
  margin-left: 10px;
}



.deleteButton {
  margin-right: 5px;
  margin-top: 10px;
  margin-left: 20px;
  padding: 5px 10px; 
  font-size: 14px;
  border: none;
  background-color: #dc3545;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 10%;
}

.deleteButton:hover {
  background-color: #ff4f4f;
}

.actionsIcon {
  margin-right: 5px;
  margin-top: 5px;
  vertical-align: middle;
}

/* Estilos para el botón de editar */
.editButton {
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 10%;
  margin-left: 18%;
  
}

.editButton:hover {
  background-color: #0056b3;
}

.submitButton1 {
  background-color: #4ab19d;
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 10%;
  max-width: 150px; /* Establece un ancho máximo para el primer botón */
}

.closeButton1 {
  background-color: #c82333;
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 10%;
  max-width: 150px;
}

.submitButton2 {
  background-color: #4ab19d;
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 10%;
  max-width: 150px; /* Establece un ancho máximo para el primer botón */
}

.closeButton2 {
  background-color: #c82333;
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 10%;
  max-width: 150px;
}