/* Estilos generales del menú flotante */
.floatingMenu {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 4px;
    display: none;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 1000;
  }
  
  .floatingMenu.show {
    display: block;
  }
  
  /* Icono de menú */
  .menu-icon {
    display: block;
    cursor: pointer;
    text-align: center;
    font-size: 24px;
    color: #333;
  }
  
  /* Estilos para la barra de navegación del menú flotante */
  .navbar {
    display: flex;
    flex-direction: column;
  }
  
  /* Estilos para los enlaces del menú flotante */
  .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  
  /* Estilos para cada enlace del menú flotante */
  .nav-link {
    margin: 5px 0;
    text-decoration: none;
    color: #333;
    cursor: pointer;
  }
  
  /* Estilos para el botón de cerrar sesión en el menú flotante */
  .logout-button {
    background-color: #e74c3c;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
  }
  
  .logout-button:hover {
    background-color: #c0392b;
  }
  
  /* Estilos para los botones de inicio de sesión y registro en el menú flotante */
  .login-button,
  .signup-button {
    background-color: #2e75b6;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    margin: 5px 0;
  }
  
  .signup-button {
    background-color: #4ab19d;
  }
  
  .signup-button:hover,
  .login-button:hover {
    background-color: #28669f;
  }
  
  .userIcon,
  .checkIcon {
    margin-right: 5px;
  }
  